<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
  <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
  <title>Login</title>
</head>

<body class="text-center">
  <h2>ログイン画面</h2>
  <form th:action="@{/login}" method="post">
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" class="text-danger">
      [[${session['SPRING_SECURITY_LAST_EXCEPTION'].message}]]
    </p>
    <label>ユーザーID</label>
    <input type="text" name="userId"><br><br>

    <label>パスワード</label>
    <input type="password" name="password"><br><br>

    <button type="submit" class="btn btn-primary">ログイン</button><br><br>
  </form>

  <a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>

</body>

</html>