<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div th:fragment="userDetail_contents">
    <div class="row">
      <div class="col-sm-10">
        <div class="page-header">
          <h1>ユーザー詳細</h1>
        </div>
        <form th:action="@{/userDetail}" method="post" th:object="${signupForm}">
          <table class="table table-bordered table-hover">
            <tr>
              <th class="active" width="20%">ユーザーID</th>
              <td width="80%">
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{userId}">
                </div>
              </td>
            </tr>

            <tr>
              <th class="active">パスワード</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{password}">
                </div>
              </td>
            </tr>

            <tr>
              <th class="active">ユーザー名</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{userName}">
                </div>
              </td>
            </tr>

            <tr>
              <th class="active">誕生日</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}">
                </div>
              </td>
            </tr>

            <tr>
              <th class="active">年齢</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" th:field="*{age}">
                </div>
              </td>
            </tr>

            <tr>
              <th class="active">結婚</th>
              <td>
                <div class="form-group">
                  <div th:each="item : ${radioMarriage}">
                    <input type="radio" name="radioMarriage" th:text="${item.key}" th:value="${item.value}"
                      th:field="*{marriage}">
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <ul>
            <li th:each="error : ${#fields.detailedErrors()}">
    					<span class="text-danger" th:text="${error.message}">Error message</span>
    				</li>
    			</ul>
    
          <button class="btn btn-primary btn-lg pull-right" type="submit" name="update">
            更新
          </button>
          
          <button type="submit" class="btn btn-danger btn-lg" name="delete">
            削除
          </button>
    		</form>

      </div>
    </div>

  </div>
</body>

</html>